// Fonts
@import url('https://fonts.bunny.net/css?family=Nunito');

// Variables
@import 'variables';

// Bootstrap
@import 'bootstrap/scss/bootstrap';

// Custom styles
body {
  background-color: #f8f9fa;
}

.navbar {
  background-color: #0069d9 !important;
}

.navbar .nav-link {
  color: #fff !important;
}

.navbar .nav-link.active {
  font-weight: bold;
  text-decoration: underline;
}

